#cart-container {
  margin-left: 50px;
  margin-top: 100px;
}

#cart-grid {
  width: 60%;
  background-color: rgba(219, 219, 219, 0.24);
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
}

#cart-grid td {
  text-align: center;
}

#cart-grid thead td {
  font-weight: 600;
  height: 50px;
  border-bottom: 1px solid #c3c3c3;
}

#cart-grid tbody td {
  padding-top: 20px;
}

#cart-grid tbody h5 {
  font-weight: 700;
}

#cart-grid table {
  margin: 20px 0px 20px 0px;
  max-width: 100%;
}

#product-info img {
  max-width: 25%;
}

#product-quantity {
  display: flex;
  justify-content: center;
}

#product-quantity ul {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

#product-quantity input {
  width: 34px;
  height: 28px;
  line-height: 28px;
  text-align: center !important;
  border: none;
  outline: 0;
  background: 0 0;
  color: #000;
  font-size: 13px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  cursor: pointer;
}

#product-quantity li span {
  font-weight: 600;
  font-size: 20px;
}

#product-quantity li input {
  font-size: 16px;
  text-align: center;
}

#product-quantity li {
  display: inline-block;
  font-size: 14px;
  width: 35px;
  height: 28px;
  background: #fff;
}

#subtract-button {
  border-radius: 100px 0 0 100px;
  white-space: nowrap;
  cursor: pointer;
}

#subtract-button > div {
  font-size: 22pt;
  margin-top: -10px;
}

#sum-button > div {
  font-size: 19pt;
  margin-top: -6px;
}

#sum-button {
  border-radius: 0 100px 100px 0;
  cursor: pointer;
}

#subtract-button:hover,
#sum-button:hover,
#product-quantity input:hover {
  border: 1px solid black;
}

#product-quantity ul {
  max-width: 100%;
}

#checkout-info {
  background-color: rgba(219, 219, 219, 0.24);
  border-radius: 10px;
}

#payment-container {
  float: right;
  width: 35%;
  padding-right: 150px;
}

#checkout-info h2 {
  text-align: center;
}

#checkout-info button {
  width: 100%;
  border-color: #222222;
  background-color: #222222;
  color: #fff;
  height: 54px;
  line-height: 52px;
  padding: 0 24px;

  margin: 0;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  outline: none;
  background-image: none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: background 0.2s, border-color, 0.2s, color 0.2s;
}

#checkout-info button div {
  font-size: 18px;
  font-weight: 700;
}

#checkout-info {
  padding: 20px 20px 20px 20px;
}
