.main-footer {
  color: white;
  background-color: #2c3e50;
  padding-top: 1em;
  bottom: 0;
  width: 100%;
  }

  .icons-cards{
    width: 50px;
    margin-left: 20px;
    border-radius: 4px;
  }

  .icons-social{
    width: 36px;
  }

  .col-footer{
    padding-left: 0;
  }
  
  .footer-btn-send,.footer-btn-send:hover,.footer-btn-send:focus{
    vertical-align: super;
    background-color: #131e28;
    color: white;
    border-color: transparent;
    box-shadow:unset;
  }

  .linha-footer{
    height: 2px !important;
  }

  .contato-footer{
    font-size: 14px;
    margin: 10px 0 10px 0;
  }

  @media screen and (min-width: 999px) {
    .label-commons{
      font-size: 22pt;
    }
  }

  @media screen and (max-width: 999px) {
    .desktop-visible{
      display: none;
    }

    .all-visible{
      display: block;
    }

    .label-commons{
      font-size: 13pt;
    }

    .icons-social{
      width: 28px;
    }

    .contato-footer{
      font-size: 12px;
      margin: 5px 0 5px 0;
    }

    hr:not([size]) {
      height: 0;
    }

    #copyright-text{
      font-size: 7pt;
    }
  }